<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>botao</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="menu-principal"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-sm="6" size-md="3">
        <ion-input [(ngModel)]="rua" fill="outline" placeholder="Rua:"></ion-input>
        <ion-input [(ngModel)]="numero" fill="outline" type="number" placeholder="Numero:"></ion-input>
        <ion-input [(ngModel)]="bairro" fill="outline" placeholder="Bairro:"></ion-input>
        <ion-input [(ngModel)]="cidade" fill="outline" placeholder="Cidade:"></ion-input>
        <ion-input [(ngModel)]="estado" fill="outline" placeholder="Estado:"></ion-input>
        <ion-input [(ngModel)]="cep" fill="outline" type="number" placeholder="CEP:"></ion-input>
        <ion-button (click)="enviar()">Enviar</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>{{input}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
